
.map{
    height:100%;
    width: 100%;
}




/*search_group*/

.search_group, .search_input, .search_button{
    position: absolute;
    z-index: 999;
    top: 36px;
}
.search_input{
    width: 300px;
    height: 32px;
    left: 90px;
}
/*.search_button{*/
    /*width: 70px;*/
    /*height: 32px;*/
    /*left: 400px;*/
/*}*/